<div class="panel p-30" xmlns="http://www.w3.org/1999/html">
  <div class="flex justify-between" [class.flex-column]="isMobile">
    <div [class.text-center]="isMobile">
      <span class="font-weight-bold" *ngIf="metaData.dateRange">
        {{ metaData.dateRange.start ? (metaData.dateRange.start | date:'yyyy-MM-dd') : '?'}} - {{ metaData.dateRange.end ? (metaData.dateRange.end | date:'yyyy-MM-dd') : '?' }}
      </span>
      <span *ngIf="!metaData.dateRange" class="text-italic">No dates available</span>
    </div>
    <div class="flex" *ngIf="partner">
      <span class="font-weight-bold">{{ partner.displayName }}</span>
      <img [src]="partner.logo">
    </div>
  </div>
  <div class="flex" [class.flex-column]="isMobile">
    <span class="font-weight-bold label" [class.mobile]="isMobile">Data Contact:</span>
    <span *ngIf="!!metaData.contact">{{ metaData.contact }}</span>
    <span *ngIf="!metaData.contact" class="text-italic">No contact available</span>
  </div>
  <div class="flex" [class.flex-column]="isMobile">
    <span class="font-weight-bold label" [class.mobile]="isMobile">Contact email:</span>
    <span *ngIf="!!metaData.email">{{ metaData.email }}</span>
    <span *ngIf="!metaData.email" class="text-italic">No email available</span>
  </div>
  <div class="flex" [class.flex-column]="isMobile">
    <span class="font-weight-bold label" [class.mobile]="isMobile">Research aim:</span>
    <span class="flex" *ngIf="!!metaData.description">{{ metaData.description }}</span>
    <span *ngIf="!metaData.description" class="text-italic">No description available</span>
  </div>
  <div class="flex" [class.flex-column]="isMobile">
    <span class="font-weight-bold label" [class.mobile]="isMobile">Treatments:</span>
    <div class="flex flex-column" *ngIf="!!metaData.treatments">
      <span class="flex" *ngIf="!!metaData.treatments">{{ metaData.treatments.description }}</span>
      <span *ngIf="!metaData.treatments.description" class="text-italic">No treatments available</span>
      <ng-container *ngIf="!!metaData.treatments.treatments && metaData.treatments.treatments.length > 0">
        <span *ngFor="let mesocosm of mesocosms; let i = index">{{ mesocosm.name }}: <span [class.text-italic]="!selectedTreatments[ i ]">{{ !!selectedTreatments[ i ] ? selectedTreatments[ i ] : 'No treatment selected' }}</span></span>
      </ng-container>
    </div>
    <span *ngIf="!metaData.treatments" class="text-italic">No treatments available</span>
  </div>
  <div class="flex justify-end m-t-15" [class.flex-column]="isMobile">
    <button (click)="open(metaData.url)" [class.p-0]="isMobile" *ngIf="metaData.url">
      To metadata catalogue<i class="fa-solid fa-link m-l-5"></i>
    </button>
    <button (click)="editMetaData()" *ngIf="editable">
      Edit<i class="fa-solid fa-edit m-l-5"></i>
    </button>
  </div>
</div>
