:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .charts {
    .chart {
      padding: 0 10px 10px 0;

      &.flex-100 {
        flex: 0 0 100%;
      }

      &.flex-50 {
        flex: 0 0 50%;
      }
    }
  }
}
