<div class="panel-container flex">
  <div class="panel p-t-30 meta-data">
    <h1 class="m-t-0 flex justify-between cursor-pointer p-l-30 p-r-30" (click)="addMetadataEntry()">Metadata<i class="fa-solid fa-plus cursor-pointer"></i></h1>
    <div class="flex flex-column flex-1 overflow-auto p-l-30 p-r-30 p-b-30">
      <aqc-meta-data-summary class="m-t-15"
           *ngFor="let meta of metaData"
           [metaData]="meta"
          [editable]="true"></aqc-meta-data-summary>
    </div>
  </div>
</div>

<div class="flex position-absolute logoff justify-between">
  <div>
    <button (click)="toAdminOverview()" class="m-l-10">
      <i class="fa-solid fa-chevron-left m-l-5"></i>Admin overview
    </button>
  </div>
  <button (click)="logoff()" class="m-r-10">
    Logout<i class="fa-solid fa-power-off m-l-5"></i>
  </button>
</div>
