:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .panel-container {
    padding-top: 40px;

    .meta-data {
      margin: 0 auto auto auto;
    }
  }

  .logoff {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
  }
}
