@import '~src/styles/variables';

form {
  .form-group {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    label {
      flex: 1;
      font-weight: bold;
    }

    input {
      border-radius: 30px;
      padding: 10px;
      background-color: #F8F8F8;
      box-shadow: inset 1px -3px 5px -3px #000000;
      flex: 0 0 60%;
      border: none;
    }
  }
}
