<div class="panel-container">
  <div class="flex justify-center m-b-20">`
    <div class="panel m-r-20">
      <aqc-chart [dataSets]="depthData"></aqc-chart>
    </div>
    <div class="panel">
      <aqc-chart [dataSets]="temperatureData"></aqc-chart>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="panel m-r-20">
      <aqc-chart [dataSets]="lightData"></aqc-chart>
    </div>
    <div class="panel">
      <aqc-chart [dataSets]="oxygenData"></aqc-chart>
    </div>
  </div>`
</div>
