<div class="panel-container">
  <div class="flex justify-center m-b-20">`
    <div class="panel m-r-20">
      <h2 class="p-l-30">Depth</h2>
      <aqc-chart [dataSets]="depthData"></aqc-chart>
    </div>
    <div class="panel">
      <h2 class="p-l-30">Temperature</h2>
      <aqc-chart [dataSets]="temperatureData"></aqc-chart>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="panel m-r-20">
      <h2 class="p-l-30">Light</h2>
      <aqc-chart [dataSets]="lightData"></aqc-chart>
    </div>
    <div class="panel">
      <h2 class="p-l-30">Oxygen</h2>
      <aqc-chart [dataSets]="oxygenData"></aqc-chart>
    </div>
  </div>`
</div>
