<div class="panel-container">
  <h1 class="text-center">Charts library example</h1>
  <div class="flex justify-center m-b-20" *ngIf="!isMobile">`
    <div class="panel m-r-20">
      <h2 class="p-l-30">Depth</h2>
      <aqc-chart *ngIf="depthData" [dataSets]="depthData"></aqc-chart>
    </div>
    <div class="panel">
      <h2 class="p-l-30">Temperature</h2>
      <aqc-chart *ngIf="temperatureData" [dataSets]="temperatureData"></aqc-chart>
    </div>
  </div>
  <div class="flex justify-center" *ngIf="!isMobile">
    <div class="panel m-r-20">
      <h2 class="p-l-30">Light</h2>
      <aqc-chart *ngIf="lightData" [dataSets]="lightData"></aqc-chart>
    </div>
    <div class="panel">
      <h2 class="p-l-30">Oxygen</h2>
      <aqc-chart *ngIf="oxygenData" [dataSets]="oxygenData"></aqc-chart>
    </div>
  </div>

  <div class="flex flex-column" *ngIf="isMobile">
    <div class="panel m-b-20">
      <h2 class="p-l-30">Depth</h2>
      <aqc-chart *ngIf="depthData" [dataSets]="depthData"></aqc-chart>
    </div>
    <div class="panel m-b-20">
      <h2 class="p-l-30">Temperature</h2>
      <aqc-chart *ngIf="temperatureData" [dataSets]="temperatureData"></aqc-chart>
    </div>
    <div class="panel m-b-20">
      <h2 class="p-l-30">Light</h2>
      <aqc-chart *ngIf="lightData" [dataSets]="lightData"></aqc-chart>
    </div>
    <div class="panel">
      <h2 class="p-l-30">Oxygen</h2>
      <aqc-chart *ngIf="oxygenData" [dataSets]="oxygenData"></aqc-chart>
    </div>
  </div>
</div>
