@import "node_modules/include-media/dist/include-media";

:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  overflow: auto;

  h1 {
    font-size: 48px;
  }

  .logo-container {
    flex: 0 0 100px;
  }

  .intro {
    max-width: 80%;
  }

  .partner {
    padding: 10px 20px;

    img {
      height: 40px;
    }
  }

  .footer {
    flex: 0 0 140px;
    background-color: #20262a;
    color: white;
    display: flex;
    padding: 20px;
    color: white;

    .product {
      margin-right: 200px;
      display: flex;
      flex-direction: column;
      img {
        width: 200px;
      }
    }

    p {
      margin: 0;
    }

    img {
      max-height: 100px;
    }
  }

  @include media("<tablet") {
    h1 {
      font-size: 32px;
    }

    .intro {
      max-width: 100%;
    }

    .footer {
      flex-direction: column;

      .product {
        margin-right: 0;
        margin-bottom: 30px;
        align-items: center;
      }
    }
  }
}
