<popper-content #popper1Content>
  <div *ngIf="selectedStep === 1">
    <p>{{ isNew ? 'Add ' : 'Edit ' }} the name and logo url of the partner. The logo url should lead to an existing image of the partner's logo and should be a valid url.</p>
  </div>
  <div *ngIf="selectedStep === 2">
    <p>Add or edit the variables used by the partner. A variable should exist of a variable name and the unit used. These will be used for the y-axis of the chart: Name(unit).</p>
    <p>After adding a variable it will be added to the variable list on the right side. A variable can be edited (<i class="fa-solid fa-pen"></i>) or <br>deleted (<i class="fa-solid fa-trash-can"></i>).</p>
  </div>
  <div *ngIf="selectedStep === 3">
    <p>Add or edit the mesocosms used by the partner. Adding a mesocosm consists of two steps. First you need to add a unique name for the mesocosm.</p>
    <p>Second you need to map the incomming data to the variables used in the platform. If correct all variables added in the previous step should be visible.</p>
    <p>You can map the data to a variable by adding the corresponding csv-header in the input field behind the variable. For example a partner has a variable called 'Light'. The mesocosm you want to add generates a csv-file with the following headers: "Time", "K1-Light". In this case you add "K1-Light" in the input behind the Light-variable.</p>
    <p>A mesocosm can be <br>edited (<i class="fa-solid fa-pen"></i>) or deleted (<i class="fa-solid fa-trash-can"></i>).</p>
  </div>
</popper-content>

<div class="modal-content overflow-hidden">
  <div class="help flex justify-center align-center cursor-pointer">
    <i [popper]="popper1Content"
       [popperTrigger]="NgxPopperjsTriggers.click"
       [popperHideOnClickOutside]="true"
       [popperHideOnScroll]="true"
       [popperPlacement]="NgxPopperjsPlacements.LEFT"
      class="fa-solid fa-info"></i>
  </div>
  <div class="text-center">
    <h1>{{ isNew ? 'New ' : 'Edit '}}Partner</h1>
  </div>
  <div class="flex flex-column align-center flex-1 m-b-30">
    <div class="m-t-50" *ngIf="selectedStep === 1">
      <form>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name="name" [(ngModel)]="partner.displayName" placeholder="name">
        </div>
        <div class="form-group flex-column" [class.error]="urlError">
          <div class="flex align-center w-100">
            <label>Logo:</label>
            <input type="text" name="logo" [(ngModel)]="partner.logo" (blur)="validURL()" placeholder="url">
          </div>
          <div *ngIf="urlError" class="error-message w-100 text-right text-center">Please enter a correct url</div>
        </div>
      </form>
    </div>
    <div class="step-2-container flex flex-1" *ngIf="selectedStep === 2">
      <div class="flex flex-column flex-1 align-center">
        <form *ngIf="variable">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" [(ngModel)]="variable.name" placeholder="name">
          </div>
          <div class="form-group">
            <label>Unit:</label>
            <input type="text" name="logo" [(ngModel)]="variable.unit" placeholder="unit">
          </div>
          <div class="flex justify-end">
            <button (click)="addVariable()" [disabled]="variable.name?.length === 0 || variable.unit?.length === 0">
              {{ editing ? 'Edit' : 'Add' }}<i class="fa-solid fa-check m-l-5"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="panel p-20">
        <h4 class="text-center m-t-0">Variables</h4>
        <aqc-list-item
          *ngFor="let variable of variables"
          [listItem]="variable"
          (editItem)="editVariable($event)"
          (deleteItem)="deleteVariable($event)"></aqc-list-item>
      </div>
    </div>
    <div class="step-2-container flex flex-1" *ngIf="selectedStep === 3">
      <div class="flex flex-column flex-1 align-center">
        <form *ngIf="mesocosm">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" name="mesocosm-name" [(ngModel)]="mesocosm.name" placeholder="name">
          </div>
          <aqc-link-variables [variables]="variables" [(dataMap)]="mesocosm.dataMapping"></aqc-link-variables>
          <div class="flex justify-end">
            <button (click)="addMesocosm()" [disabled]="mesocosm.name?.length === 0 || !mesocosm.dataMapping">
              {{ editing ? 'Edit' : 'Add' }}<i class="fa-solid fa-check m-l-5"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="panel p-20">
        <h4 class="text-center m-t-0">Mesocosms</h4>
        <aqc-list-item
          *ngFor="let mesocosm of mesocosms"
          [listItem]="mesocosm"
          (editItem)="editMesocosm($event)"
          (deleteItem)="deleteMesocosm($event)"></aqc-list-item>
      </div>
    </div>
  </div>
  <div class="flex justify-between p-b-30 p-l-100 p-r-100">
    <button type="button"
            class="btn btn-outline-danger"
            (click)="previous()">{{ selectedStep === 1 ? 'Close' : 'Previous' }}</button>
    <aqc-stepper [steps]="steps" [selectedStep]="selectedStep"></aqc-stepper>
    <button type="button" class="btn btn-primary"
            (click)="next()"
            [disabled]="isNextDisabled()">
      Next<i class="fa-solid fa-check m-l-5"></i>
    </button>
  </div>
</div>
