<div class="panel-container flex flex-column justify-center">
  <div class="panel">
    <h1 class="text-center">Aquacosm data portal</h1>
    <div class="logo-container flex overflow-hidden justify-center">
      <img src="/assets/img/logo_aquacosm.png" alt="Logo Aquacosm" class="p-r-20">
      <img src="/assets/img/logo_aquacosm_plus.png" alt="Logo Aquacosm Plus">
    </div>
    <h1 class="text-center">Work in progress...</h1>
    <div class="svg text-center" [inlineSVG]="'assets/svg/limnotron.svg'"></div>
    <p class="text-center">Filling our digital aquacosms</p>
  </div>
</div>
