<aqc-checkbox (itemChange)="click($event)"
              *ngFor="let item of checklistItems; let i = index"
              [item]="checklistItems[ i ]"
              [class.flex-150px]="row"
              [row]="row"
              [iconClass]="iconClass"
              [multiselect]="multiselect"
              [class.m-r-10]="row"
              [class.m-b-10]="!row">
</aqc-checkbox>
<div *ngIf="multiselect && !row" class="text-center text-underline cursor-pointer" (click)="selectAll()">{{ allSelected ? 'Deselect all' : 'Select all' }}</div>
