<span>From</span>
<div class="input-box-container m-l-5">
  <div #dp1="angular-mydatepicker"
       [class.placeholder]="!startDate"
       (click)="dp1.toggleCalendar()"
       (dateChanged)="startDateChanged($event)"
       [(ngModel)]="startDate"
       [options]="startDpOptions"
       angular-mydatepicker class="input-box"
       name="fromDate">{{ !!startDate ? startDate!.singleDate!.formatted : 'yyyy-mm-dd' }}</div>
</div>
<input type="number" [(ngModel)]="startHour" placeholder="hh" min="0" max="24">
<input type="number" [(ngModel)]="startMinute" placeholder="mm" min="0" max="60">
<i class="fa-regular fa-calendar m-l-5 m-r-5"></i>
<span>till</span>
<div class="input-box-container m-l-5">
  <div #dp2="angular-mydatepicker"
       (click)="dp2.toggleCalendar()"
       (dateChanged)="endDateChanged($event)"
       [(ngModel)]="endDate"
       [class.placeholder]="!endDate"
       [options]="endDpOptions"
       angular-mydatepicker class="input-box"
       name="tillDate">{{ !!endDate ? endDate!.singleDate!.formatted : 'yyyy-mm-dd' }}</div>
</div>
<input type="number" [(ngModel)]="endHour" placeholder="hh" min="0" max="24">
<input type="number" [(ngModel)]="endMinute" placeholder="mm" min="0" max="60">
<i class="fa-regular fa-calendar m-l-5 m-r-5"></i>
<div class="flex flex-1 justify-end p-r-15">
  <i  class="fa-solid fa-check cursor-pointer"
      [class.disabled]="!startDate || !endDate"
      (click)="emitDateRange()">
  </i>
</div>
