<div class="flex" [class.flex-column]="column">
  <div class="flex m-r-15 align-center" [class.m-b-10]="column">
    <span [class.from-till]="column">From</span>
    <div class="input-box-container m-l-5">
      <div #dp1="angular-mydatepicker"
           [class.placeholder]="!startDate"
           (click)="dp1.toggleCalendar()"
           (dateChanged)="startDateChanged($event)"
           [(ngModel)]="startDate"
           [options]="startDpOptions"
           angular-mydatepicker class="input-box"
           name="fromDate">{{ !!startDate ? startDate!.singleDate!.formatted : 'yyyy-mm-dd' }}</div>
    </div>
    <input type="number" *ngIf="!date" [(ngModel)]="startHour" placeholder="hh" min="0" max="24">
    <input type="number" *ngIf="!date" [(ngModel)]="startMinute" placeholder="mm" min="0" max="60">
    <i class="fa-regular fa-calendar m-l-5"></i>
  </div>

  <div class="flex align-center">
    <span [class.from-till]="column">till</span>
    <div class="input-box-container m-l-5">
      <div #dp2="angular-mydatepicker"
           (click)="dp2.toggleCalendar()"
           (dateChanged)="endDateChanged($event)"
           [(ngModel)]="endDate"
           [class.placeholder]="!endDate"
           [options]="endDpOptions"
           angular-mydatepicker class="input-box"
           name="tillDate">{{ !!endDate ? endDate!.singleDate?.formatted : 'yyyy-mm-dd' }}</div>
    </div>
    <input type="number" *ngIf="!date" [(ngModel)]="endHour" placeholder="hh" min="0" max="24">
    <input type="number" *ngIf="!date" [(ngModel)]="endMinute" placeholder="mm" min="0" max="60">
    <i class="fa-regular fa-calendar m-l-5 m-r-5"></i>
  </div>
</div>
<div class="flex flex-1 justify-end p-r-15" *ngIf="!date">
  <i  class="fa-solid fa-check cursor-pointer"
      [class.disabled]="!startDate || !endDate"
      (click)="emitDateRange()">
  </i>
</div>
