@import '~src/styles/variables';

:host {
  display: flex;
  align-items: center;

  .input-box-container {
    position: relative;
    flex: 0 0 100px;
    display: flex;
    justify-content: center;

    .placeholder {
      color: $color-placeholder;
    }
  }

  .from-till {
    flex: 0 0 40px;
  }

  input {
    flex: 0 0 45px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    justify-content: center;

    &::placeholder {
      color: $color-placeholder;
    }
  }

  .disabled {
    color: $color-placeholder;
  }
}
