<div class="flex flex-1 justify-center align-center">
  <div class="sidebar p-20"></div>
  <div class="flex flex-column meta-data" *ngIf="!!metaData">
    <div class="panel p-30">
      <h2 class="text-center m-0">Meta-data entry:</h2>
      <div class="input-group m-t-15">
        <label>Contact</label>
        <input type="text" name="contact" [(ngModel)]="metaData.contact" (ngModelChange)="onChange()" placeholder="Add contact details...">
      </div>
      <div class="input-group m-t-15">
        <label>Link</label>
        <input type="text" name="contact" [(ngModel)]="metaData.url" (ngModelChange)="onChange()" placeholder="Add link to aquacosm metadata catalogue...">
      </div>
      <div class="input-group m-t-15">
        <label class="m-r-10">Duration</label>
        <aqc-date-range-input [column]="true" [date]="true" [disableSince]="null" [(dateRange)]="metaData.dateRange" (dateRangeChange)="onChange()"></aqc-date-range-input>
      </div>
      <div class="input-group m-t-15">
        <label>Aim</label>
        <textarea type="text" name="contact" [(ngModel)]="metaData.description" (ngModelChange)="onChange()" placeholder="Add aim of research..."></textarea>
      </div>
      <div class="flex justify-end m-t-15">
        <button (click)="save()" [disabled]="pristine">
          Save<i class="fa-solid fa-check m-l-5"></i>
        </button>
      </div>
    </div>
    <div class="panel p-30 m-t-30" *ngIf="!!metaData.history && metaData.history.length > 0">
      <h2 class="text-center m-0">History</h2>
      <table>
        <thead>
          <th>Date</th>
          <th>Action</th>
          <th>Editor</th>
        </thead>
        <tbody>
          <tr *ngFor="let history of metaData.history">
            <td>{{history.date | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{history.action}}</td>
            <td>{{history.editor}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sidebar p-20 overflow-hidden">
    <div class="panel align-center partner" *ngIf="partner">
      <p class="font-weight-bold">{{ partner.displayName }}</p>
      <div class="flex-1 overflow-hidden p-b-20">
        <img class="mh-100" [src]="partner.logo">
      </div>
    </div>
    <div class="panel m-t-30 p-30 editors">
      <i *ngIf="loggedIn" (click)="addEditor()" class="fa-solid fa-plus position-absolute cursor-pointer"></i>
      <h3 class="text-center m-0">Access</h3>
      <div>Admin</div>
      <div *ngFor="let ed of editors" class="flex align-center">
        <span class="ellipsis flex-1">{{ ed.email }}</span>
        <i *ngIf="loggedIn" class="fa-solid fa-user-minus flex justify-center align-center cursor-pointer" (click)="deleteEditor(ed)"></i>
      </div>
    </div>
  </div>
</div>

<div class="position-absolute flex flex-column align-center justify-center h-100 w-100 background" *ngIf="!loggedIn && !editor">
  <div class="flex logo-container">
    <img class="logo" src="assets/img/logo_aquacosm.png">
    <img class="m-l-30" src="assets/img/logo_aquacosm_plus.png">
  </div>

  <form class="panel m-t-50 p-20">
    <h1 class="m-t-0 text-center">Login</h1>
    <div class="form-group">
      <label>Name:</label>
      <input type="email" name="name" [(ngModel)]="credentials.name" placeholder="username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="password">
    </div>
    <div class="error-message" *ngIf="!!error">
      {{error}}
    </div>
    <div class="flex justify-end">
      <button (click)="login()" >
        Login<i class="fa-solid fa-check m-l-5"></i>
      </button>
    </div>
  </form>
</div>

<div class="flex position-absolute logoff justify-between" *ngIf="loggedIn || editor">
  <div>
      <button (click)="toMetadataOverview()" class="m-l-10" *ngIf="loggedIn">
        <i class="fa-solid fa-chevron-left m-l-5"></i>Metadata overview
      </button>
  </div>
  <button (click)="logoff()" class="m-r-10">
    Logout<i class="fa-solid fa-power-off m-l-5"></i>
  </button>
</div>
