:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .fa-circle-exclamation, .fa-triangle-exclamation {
    color: #c71b05;
  }

  .fa-circle-info {
    color: #1e6fb8;
  }

  .background {
    background: rgba(0,0,0,0.6);

    .logo-container {
      flex: 0 0 100px;
      overflow: hidden;
      justify-content: center;

    }
  }

  .meta-data {
    flex: 0 0 600px;
  }

  .sidebar {

    &.left {
      flex: 0 0 250px;
    }

    &.right {
      flex: 0 0 350px;
    }

    .editors {
      .fa-plus {
        top: 20px;
        right: 20px;
      }
    }
  }

  table {
    thead {
      background-color: #1e6fb8;
      color: white;
      th {
        text-align: left;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: #FAFAFA;
      }
    }
  }

  .logoff {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
  }

  .treatment {
    label {
      font-size: 14px;
    }

    i {
      color: #00A59B;
    }
  }
}
