:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  .background {
    background: rgba(0,0,0,0.6);

    .logo-container {
      flex: 0 0 100px;
      overflow: hidden;
      justify-content: center;

    }

    form {
      width: 300px;

      .error-message {
        margin-bottom: 10px;
        text-align: center;
        color: red;
      }
    }
  }

  .meta-data {
    flex: 0 0 600px;
  }

  .sidebar {
    flex: 0 0 250px;
  }
}
