<div class="flex flex-1 justify-center overflow-auto">
  <div class="sidebar left p-20 m-t-20">
    <div class="panel align-center partner" *ngIf="partner">
      <p class="font-weight-bold">{{ partner.displayName }}</p>
      <div class="flex-1 overflow-hidden p-b-20">
        <img class="mh-100" [src]="partner.logo">
      </div>
    </div>
    <div class="panel m-t-30 p-30 editors">
      <i *ngIf="loggedIn" (click)="addEditor()" class="fa-solid fa-plus position-absolute cursor-pointer"></i>
      <h3 class="text-center m-0">Access</h3>
      <div>Admin</div>
      <div *ngFor="let ed of editors" class="flex align-center">
        <span class="ellipsis flex-1">{{ ed.email }}</span>
        <i *ngIf="loggedIn" class="fa-solid fa-user-minus flex justify-center align-center cursor-pointer" (click)="deleteEditor(ed)"></i>
      </div>
    </div>
  </div>
  <div class="flex flex-column meta-data p-t-20 p-b-20 m-t-20" *ngIf="!!metaData">
    <div class="panel p-30 overflow-hidden">
      <h2 class="text-center m-0">Meta-data entry:</h2>
      <div class="flex flex-1 flex-column overflow-auto">
        <div class="input-group m-t-15">
          <label>Data contact</label>
          <input type="text" name="contact" [(ngModel)]="metaData.contact" (ngModelChange)="onChange()" placeholder="Add contact details...">
          <i *ngIf="!metaData.contact" [popper]="mandatoryContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-exclamation p-5 flex align-center"></i>
          <i [popper]="dataContactContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-info p-5 flex align-center"></i>
        </div>
        <div class="input-group m-t-15">
          <label>Contact email</label>
          <input type="text" name="email" [(ngModel)]="metaData.email" (ngModelChange)="onChange(); onEmailChange($event)" placeholder="Add contact email...">
          <i *ngIf="!metaData.email" [popper]="mandatoryContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-exclamation p-5 flex align-center"></i>
          <i *ngIf="metaData.email && !isEmail" [popper]="emailNotValidContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-triangle-exclamation p-5 flex align-center"></i>
          <i [popper]="EmailContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-info p-5 flex align-center"></i>
        </div>
        <div class="input-group m-t-15">
          <label>Link</label>
          <input type="text" name="contact" [(ngModel)]="metaData.url" (ngModelChange)="onChange()" placeholder="Add link to aquacosm metadata catalogue...">
          <i [popper]="LinkContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-info p-5 flex align-center"></i>
        </div>
        <div class="input-group m-t-15">
          <label class="m-r-10">Duration</label>
          <aqc-date-range-input class="flex-1" [column]="true" [date]="true" [disableSince]="null" [(dateRange)]="metaData.dateRange" (dateRangeChange)="onChange()"></aqc-date-range-input>
          <i *ngIf="!metaData.dateRange || !metaData.dateRange.start" [popper]="mandatoryDateContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-exclamation p-5 flex align-center"></i>
          <i [popper]="DateRangeContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-info p-5 flex align-center"></i>
        </div>
        <div class="input-group m-t-15">
          <label>Description</label>
          <textarea type="text" name="contact" [(ngModel)]="metaData.description" (ngModelChange)="onChange()" placeholder="Add aim of research..."></textarea>
          <i *ngIf="!metaData.description" [popper]="mandatoryContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-exclamation p-5 flex align-center"></i>
          <i [popper]="ResearchAimContent"
             [popperTrigger]="NgxPopperjsTriggers.hover"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="NgxPopperjsPlacements.LEFT"
             class="fa-solid fa-circle-info p-5 flex align-center"></i>
        </div>
        <div class="input-group m-t-15">
          <label>Treatments</label>
          <div class="p-l-10 flex flex-column flex-1">
            <div class="input-sub-group">
              <div class="flex flex-column flex-1">
                <label>Description</label>
                <textarea type="text" name="contact" [(ngModel)]="metaData.treatments.description" (ngModelChange)="onChange()" placeholder="Add description of treatments..."></textarea>
              </div>
              <i [popper]="TreatmentContent"
                 [popperTrigger]="NgxPopperjsTriggers.hover"
                 [popperHideOnClickOutside]="true"
                 [popperHideOnScroll]="true"
                 [popperPlacement]="NgxPopperjsPlacements.LEFT"
                 class="fa-solid fa-circle-info p-5 flex align-center"></i>
            </div>
            <div class="input-sub-group">
              <div class="flex flex-column flex-1">
                <label>Treatments:</label>
                <div class="treatment flex flex-1 m-b-5" *ngFor="let treatment of metaData.treatments.treatments; let i = index">
                  <label>Treatment {{ i + 1 }}:</label>
                  <input type="text" name="treatment_name" [(ngModel)]="treatment.name" (ngModelChange)="onChange()" (blur)="changeTreatment()" placeholder="Add treatment name...">
                  <i class="fa-solid fa-delete-left p-5 flex align-center cursor-pointer" (click)="deleteTreatment(i)"></i>
                </div>
                <div class="flex justify-center align-center">
                  <button (click)="addTreatment()">
                    Add treatment<i class="fa-solid fa-circle-plus m-l-5"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="input-sub-group">
              <div class="flex flex-column flex-1" *ngIf="!!treatments && treatments.length > 0">
                <label class="flex-1">Connect treatment to mesocosm:</label>
                <div class="treatment flex flex-1 m-b-5" *ngFor="let mesocosm of mesocosms; let i = index">
                  <label>{{ mesocosm.name }}</label>
                  <ng-select [(ngModel)]="selectedTreatments[ i ]"
                             (ngModelChange)="addMesocosmIdToTreatment(mesocosm.id, $event)"
                             appendTo="body"
                             bindLabel="name"
                             bindValue="name"
                             [searchable]="false"
                             [clearable]="false"
                             [placeholder]="'Select treatment...'">
                    <ng-option *ngFor="let treatment of treatments" [value]="treatment.id">{{treatment.name}}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end m-t-15">
        <button (click)="save()" [disabled]="pristine || !mandatoryFields">
          Save<i class="fa-solid fa-check m-l-5"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="sidebar right p-20 overflow-hidden m-t-20">
    <div class="panel p-30" *ngIf="!!metaData && !!metaData.history && metaData.history.length > 0">
      <h2 class="text-center m-0">History</h2>
      <table>
        <thead>
        <th>Date</th>
        <th>Action</th>
        <th>Editor</th>
        </thead>
        <tbody>
        <tr *ngFor="let history of metaData.history">
          <td>{{history.date | date:'yyyy-MM-dd HH:mm'}}</td>
          <td>{{history.action}}</td>
          <td>{{history.editor}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="position-absolute flex flex-column align-center justify-center h-100 w-100 background" *ngIf="!loggedIn && !editor">
  <div class="flex logo-container">
    <img class="logo" src="assets/img/logo_aquacosm.png">
    <img class="m-l-30" src="assets/img/logo_aquacosm_plus.png">
  </div>

  <form class="panel m-t-50 p-20">
    <h1 class="m-t-0 text-center">Login</h1>
    <div class="form-group">
      <label>Name:</label>
      <input type="email" name="name" [(ngModel)]="credentials.name" placeholder="username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="password">
    </div>
    <div class="error-message" *ngIf="!!error">
      {{error}}
    </div>
    <div class="flex justify-end">
      <button (click)="login()" >
        Login<i class="fa-solid fa-check m-l-5"></i>
      </button>
    </div>
  </form>
</div>

<div class="flex position-absolute logoff justify-between" *ngIf="loggedIn || editor">
  <div>
      <button (click)="toMetadataOverview()" class="m-l-10" *ngIf="loggedIn">
        <i class="fa-solid fa-chevron-left m-l-5"></i>Metadata overview
      </button>
  </div>
  <button (click)="logoff()" class="m-r-10">
    Logout<i class="fa-solid fa-power-off m-l-5"></i>
  </button>
</div>

<popper-content #dataContactContent>
  <p class="max-popper-width">Fill in the person to contact if someone needs information about the data. It's preferred to use a senior member of the project.</p>
</popper-content>

<popper-content #EmailContent>
  <p class="max-popper-width">Fill in the emailaddress of the data contact person.</p>
</popper-content>

<popper-content #LinkContent>
  <p class="max-popper-width">Provide the link of the aquacosm metadata catalogue entry that belongs to this research project. To acquire this link go to your aquacosm metadata catalogue entry and use the "share on social sites" part in the right sidebar to copy the link.</p>
</popper-content>

<popper-content #DateRangeContent>
  <p class="max-popper-width">Provide the start and/or the end date of the research project. The start date is mandatory.</p>
</popper-content>

<popper-content #ResearchAimContent>
  <p class="max-popper-width">Lisette will provide the explanation for this field.</p>
</popper-content>

<popper-content #TreatmentContent>
  <p class="max-popper-width">Use this area to explain the different treatments used for the experiment. Give a clear description of the different treatments in description field and make sure the treatments description are clearly linked to the different treatments you can add by clicking "Add treatment". You can link the treatment to a mesocosm by selecting the correct treatment after the mesocosm.</p>
</popper-content>

<popper-content #mandatoryContent>
  <p class="max-popper-width">This field is mandatory.</p>
</popper-content>

<popper-content #mandatoryDateContent>
  <p class="max-popper-width">It is mandatory to fill in the startdate of the project.</p>
</popper-content>

<popper-content #emailNotValidContent>
  <p class="max-popper-width">This is not a correct emailaddress. Use the following format test@test.com</p>
</popper-content>
